<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>BTC/USD</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCUSD/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>GBP</string>
		<key>symbol</key>
		<string>BTC/GBP</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCGBP/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>EUR</string>
		<key>symbol</key>
		<string>BTC/EUR</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCEUR/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>AUD</string>
		<key>symbol</key>
		<string>BTC/AUD</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCAUD/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CAD</string>
		<key>symbol</key>
		<string>BTC/CAD</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCCAD/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CHF</string>
		<key>symbol</key>
		<string>BTC/CHF</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCCHF/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CNY</string>
		<key>symbol</key>
		<string>BTC/CNY</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCCNY/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>HKD</string>
		<key>symbol</key>
		<string>BTC/HKD</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCHKD/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>PLN</string>
		<key>symbol</key>
		<string>BTC/PLN</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCPLN/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>RUB</string>
		<key>symbol</key>
		<string>BTC/RUB</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCRUB/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>SGD</string>
		<key>symbol</key>
		<string>BTC/SGD</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCSGD/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>THB</string>
		<key>symbol</key>
		<string>BTC/THB</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCTHB/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>NOK</string>
		<key>symbol</key>
		<string>BTC/NOK</string>
		<key>exchange</key>
		<string>MtGox</string>
		<key>exchange_id</key>
		<integer>0</integer>
		<key>update_url</key>
		<string>http://data.mtgox.com/api/2/BTCNOK/money/ticker_fast</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>BTC/USD</string>
		<key>exchange</key>
		<string>Bitstamp</string>
		<key>exchange_id</key>
		<integer>1</integer>
		<key>update_url</key>
		<string>https://www.bitstamp.net/api/ticker/</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>BTC/USD</string>
		<key>exchange</key>
		<string>BTC-E</string>
		<key>exchange_id</key>
		<integer>2</integer>
		<key>update_url</key>
		<string>https://btc-e.com/api/2/btc_usd/ticker/</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>LTC</string>
		<key>currency_2</key>
		<string>BTC</string>
		<key>symbol</key>
		<string>LTC/BTC</string>
		<key>exchange</key>
		<string>BTC-E</string>
		<key>exchange_id</key>
		<integer>2</integer>
		<key>update_url</key>
		<string>https://btc-e.com/api/2/ltc_btc/ticker/</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>LTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>LTC/USD</string>
		<key>exchange</key>
		<string>BTC-E</string>
		<key>exchange_id</key>
		<integer>2</integer>
		<key>update_url</key>
		<string>https://btc-e.com/api/2/ltc_usd/ticker/</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>LTC</string>
		<key>currency_2</key>
		<string>EUR</string>
		<key>symbol</key>
		<string>LTC/EUR</string>
		<key>exchange</key>
		<string>BTC-E</string>
		<key>exchange_id</key>
		<integer>2</integer>
		<key>update_url</key>
		<string>https://btc-e.com/api/2/ltc_eur/ticker/</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>BTC/USD</string>
		<key>exchange</key>
		<string>CampBX</string>
		<key>exchange_id</key>
		<integer>3</integer>
		<key>update_url</key>
		<string>http://campbx.com/api/xticker.php</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>USD</string>
		<key>symbol</key>
		<string>BTC/USD</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/USD</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>EUR</string>
		<key>symbol</key>
		<string>BTC/EUR</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/EUR</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>GBP</string>
		<key>symbol</key>
		<string>BTC/GBP</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/GBP</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CAD</string>
		<key>symbol</key>
		<string>BTC/CAD</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/CAD</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>RUB</string>
		<key>symbol</key>
		<string>BTC/RUB</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/RUB</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>PLN</string>
		<key>symbol</key>
		<string>BTC/PLN</string>
		<key>exchange</key>
		<string>BitcoinAverage</string>
		<key>exchange_id</key>
		<integer>4</integer>
		<key>update_url</key>
		<string>http://api.bitcoinaverage.com/ticker/PLN</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CNY</string>
		<key>symbol</key>
		<string>BTC/CNY</string>
		<key>exchange</key>
		<string>FxBTC</string>
		<key>exchange_id</key>
		<integer>5</integer>
		<key>update_url</key>
		<string>https://data.fxbtc.com/api?op=query_ticker&amp;symbol=btc_cny</string>
	</dict>
	<dict>
		<key>currency_1</key>
		<string>BTC</string>
		<key>currency_2</key>
		<string>CNY</string>
		<key>symbol</key>
		<string>BTC/CNY</string>
		<key>exchange</key>
		<string>BTCChina</string>
		<key>exchange_id</key>
		<integer>6</integer>
		<key>update_url</key>
		<string>https://data.btcchina.com/data/ticker</string>
	</dict>
</array>
</plist>
